@import '../../static/iconfont/iconfont.css';

.filmMain{
  width: 100%;
  height:100%;
  background: rgb(249, 249, 249);
  overflow: auto;
}
.mint-header{
  background:none;
  height: px2rem(44);
  font-size: px2rem( 17)
}
.mintui{
  font-size: px2rem( 17);
  //  color:#191a1b
}

.film-detail {
  flex: 1;
  overflow-y: auto;

  .film-poster {
    height: px2rem(210);
    img {
      width: 100%;
      height: 100%;
    }
  }

  .film-detail {
    padding: px2rem(15);
    padding-top: px2rem(12);
    background-color: #fff;

    .col {
      display: flex;
      align-items: center;
    }

    .film-name {
      flex: 1;
      display: flex;
      align-items: center;

      .name {
        color: #191a1b;
        font-size: px2rem(18);
        height: px2rem(24);
        line-height: px2rem(24);
        margin-right: px2rem(8);
      }

      .item {
        font-size: px2rem(12);
        color: #fff;
        background-color: #d2d6dc;
        height: px2rem(14);
        line-height: px2rem(14);
        padding: 0 px2rem(2);
        border-radius: px2rem(2);
        display: inline-block;
      }
    }

    .film-grade {
      flex-shrink: 0;
      width: px2rem(100);
      text-align: right;
      color: #ffb232;
      font-size: px2rem(12);

      .grade {
        font-size: px2rem(18);
        font-style: italic;
      }
    }

    .grey-text {
      font-size: px2rem(13);
      line-height: px2rem(20);
      font-weight: normal;
      color: #797d82;
      margin-top: px2rem(4);
    }

    .film-synopsis {
      margin-top: px2rem(8);
      overflow: hidden;
      &.hide {
        height: px2rem(40);
      }
    }

    .toggle {
      text-align: center;
      display: block;
      height: auto;
      width: px2rem(20);
      height: px2rem(40);
      margin: auto;
      line-height: px2rem(40);
      i{
        font-family: "iconfont" !important;
        font-size:px2rem(20);
      }

      &.hide {
        i {
          transform: translate(180deg);
        }
      }
    }
  }
}
.actors{
  margin-top:px2rem(10);
  background-color: #fff;
  .actors-title-bar{
    width: 100%;
    padding: px2rem(15);
    span{
      display: inline-block;
      height:  px2rem(22.5);
      line-height: px2rem(22);
      font-size:px2rem(16);
      text-align: left;
      color: #191a1b;
    }
  }
  .actors-list-bar{
    height: px2rem(140);
    overflow-x: auto;
    overflow-y: hidden;
    .actors-list{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: px2rem(15)

    }
  }
}
.actors-item{
  display: flex;
  flex-direction: column;
  width: px2rem(85);
  min-width:px2rem(85);
  margin-right: px2rem(10)
}
.actors-img{
  // display: inline-block;
  width:px2rem(85);
  height:px2rem(85)
}
.actors-msg  {
  padding: px2rem(3) 0;
  font-size: px2rem(12);
  text-align: center;
  color: #191a1b;
  width: px2rem(85);
  height: px2rem(18);
  line-height: px2rem(18);
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.actors-name{
  margin-top:10px;
}
.actors-role{
  font-size: px2rem(10);
  color: #797d82;
}
.photos{
  margin-bottom: px2rem(60);
}


.buy-btn{
  position: fixed;
  bottom: 0;
  left: 0;
  height: px2rem(49);
  width: 100%;
  text-align: center;
  background-color: #ff5f16;
  color: #fff;
  font-size: px2rem(16);
  line-height:px2rem(49);
}